@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

:root {
  --lightpink: 248, 217, 232;
  --darkpink: 100, 2, 39;
  --lightblue: 156, 181, 186;
  --darkblue: 31, 44, 46;
  --lightgreen: 212, 233, 156;
  --darkgreen: 57, 65, 7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}