.card {
  margin-bottom: 16px;
  width: 340px;
  height: 136px;
  overflow: hidden;
  border-radius: 16px;
  transition: all .25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.active {
  height: 264px;
}

.card-up {
  width: 100%;
  height: 136px;
  display: flex;
  justify-content: space-between;
  background-color: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.pink {
  background-color: rgb(var(--lightpink));
  color: rgb(var(--darkpink));
}

.blue {
  background-color: rgb(var(--lightblue));
  color: rgb(var(--darkblue));
}

.green {
  background-color: rgb(var(--lightgreen));
  color: rgb(var(--darkgreen));
}

.pinkexpandable {
  background-color: rgb(var(--darkpink));
  color: #fff;
}

.blueexpandable {
  background-color: rgb(var(--darkblue));
  color: #fff;
}

.greenexpandable {
  background-color: rgb(var(--darkgreen));
  color: #fff;
}

.card-down {
  width: 100%;
  height: 128px;
  z-index: -1;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 24px 21px;
}

.flowerinfo {
  display: flex;
  flex-direction: column;
  margin: 29px 0 29px 24px;
}

.tagswrap {
  display: flex;
}

.flowername {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 28px;
}

.flowerimage {
  height: 100%;
}